  @import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: #F6F6F6;
}

.destaqueTitulo{
    color: #22D4FD;
}

*{
    margin: 0;
    padding: 0;
}

.apresentacao{
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao_conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
 .apresentacao-titulo{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
 }

.apresentacao-paragrafo{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.foto{
    max-width:467.71px;
    max-height:532px;
    width: auto;
    height: auto;
}

.apresentacao_links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresenta_links_substitulo{
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.apresentacao_links_links{
    /* background-color: #22D4FD; */
    width: 378px;
    text-align: center;
    border-radius: 8px;
    border: 2px solid #22D4FD; /* border: espessura-da-borda formato-da-borda cor-da-borda */
    border-color: #22D4FD;
    font-size: 24px;
    padding: 21.5px 0;
    color: #F6F6F6;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-decoration: none;
}