@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria: #000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-corhover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

body{
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0%  0% 15%;
}

.cabecalho_menu{
    display: flex;
    gap: 80px;
}

.cabecalho_menu_link{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

*{
    margin: 0;
    padding: 0;
}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao_conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
 .apresentacao-titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
 }

 .destaqueTitulo{
    color: var(--cor-terciaria);
}

.apresentacao-paragrafo{
    font-size: 1.5rem; /*rem = px/16*/
    font-family: var(--fonte-secundaria);
}

.foto{
    max-width:467.71px;
    max-height:532px;
    width: 50%;
    height: auto;
}

.apresentacao_links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresenta_links_substitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 24px;
}

.apresentacao_links_navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    border: 2px solid var(--cor-terciaria); /* border: espessura-da-borda formato-da-borda cor-da-borda */
    border-color: var(--cor-terciaria);
    font-size: 1.5rem;
    padding: 21.5px 0;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    text-decoration: none;
}

.apresentacao_links_links:hover { /* hover é usado pra sublinhar ou marcar quando passa o mouse por cima de uma opção*/
    background-color: var(--cor-corhover);
}

.rodape{
    padding: 23.64px; /* padding é de dentro pra fora e margin de fora pra dentro*/
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media(max-width: 1200px){
    
    .cabecalho{
        padding: 10%;
    }

    .cabecalho_menu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction:column-reverse;
        padding: 5%;
    }

    .apresentacao_conteudo{
        width: auto;
    }
}