  @import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

body{
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: black;
    color: #F6F6F6;
}

.cabecalho{
    padding: 2% 0%  0% 15%;
}

.cabecalho_menu{
    display: flex;
    gap: 80px;
}

.cabecalho_menu_link{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #22D4FD;
    text-decoration: none;
}

*{
    margin: 0;
    padding: 0;
}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao_conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
 .apresentacao-titulo{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
 }

 .destaqueTitulo{
    color: #22D4FD;
}

.apresentacao-paragrafo{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.foto{
    max-width:467.71px;
    max-height:532px;
    width: auto;
    height: auto;
}

.apresentacao_links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresenta_links_substitulo{
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.apresentacao_links_links{
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    border: 2px solid #22D4FD; /* border: espessura-da-borda formato-da-borda cor-da-borda */
    border-color: #22D4FD;
    font-size: 24px;
    padding: 21.5px 0;
    color: #F6F6F6;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-decoration: none;
}

.apresentacao_links_links:hover { /* hover é usado pra sublinhar ou marcar quando passa o mouse por cima de uma opção*/
    background-color: #272727;
}

.rodape{
    padding: 23.64px; /* padding é de dentro pra fora e margin de fora pra dentro*/
    color: black;
    background-color: #22D4FD;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 400;
}